<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome You All!</h1>
        <h2>Here I'm trying to create Generic and Specific URL Mapping along with their Navigation.</h2>
        <h3><a href="{% url 'gen:generic2' %}">Generic2</a></h3>
        <h3><a href="{% url 'specific1' %}">Specific1</a></h3>
        <h3><a href="{% url 'spe:specific2' %}">Specific2</a></h3>
    </center>
</body>
</html>